.span6.offset3.well.github-login
  %p
    You have to authorize this app with your github account to use it.
  %p
    %a.btn.btn-primary.btn-large.center{href:"authorize"}
      %i.icon-user.icon-white
      Sign in with Github
